<%- include("header", {title: title}); %>
    <main class="content">

        <h1>About</h1>

        <p>Fokus: Your go-to online shop for premium coffee, coffee mugs, and other coffee-related accessories. At
            BuckStar, we are passionate about bringing the best of coffee culture to your home, whether you're brewing
            your favorite cup or enjoying it in a stylish mug.</p>

        <h2>This Mysql connected webbapplication is created by Hassan Hussain <br>
            Ackronym: hahi24<i class="fas fa-coffee"></i>
        </h2>

    </main>

    <%- include("footer"); %>