<!doctype html>
<html lang="en">

</html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="../../public/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<header>
    <nav>
        <ul>
            <li>
                <a href="/eshop/index">Index</a>


            </li>
            <li>
                <a href="/eshop/products">Products</a>

            </li>
            <li>
                <a href="/eshop/kategori">Categories</a>

            </li>
            <li>
                <a href="/eshop/create">Add Product</a>

            </li>
            <li>
                <a href="/eshop/about">About</a>

            </li>
        </ul>
    </nav>
</header>