<%- include("header", {title: title}); %>
    <main class="content">

        <h1>Welcome to BuckStar eShop!</h1>

        <p>Fokus: Your go-to online shop for premium coffee, coffee mugs, and other coffee-related accessories. At
            BuckStar, we are passionate about bringing the best of coffee culture to your home, whether you're brewing
            your favorite cup or enjoying it in a stylish mug.</p>

        <p>We also offer a limited selection of high-quality tea products, for those moments when you want to switch
            things up. Explore our collection and find the perfect products for your coffee and tea rituals!</p>

        <p>Start shopping now and discover our carefully curated range of products to enhance your beverage experience.
        </p>

        <h3>Shortcuts to what you would like to do:</h3>

        <p>

        <ul>
            <li><a href="kategori">View Kategori overview</a></li>
            <li><a href="create">Add a product</a></li>
            <li><a href="products">View Produckt overview/Edit products</a></li>
        </ul>
        </p>
    </main>

    <%- include("footer"); %>